[Desktop Entry]
Version=1.0
Name=store-tui
Comment=Navigate the Snap Store from the terminal
Exec=store-tui
Icon=${SNAP}/meta/gui/store-tui.png
Terminal=true
Type=Application
Categories=Utility;Development;
