Horizontal#footer-outer {
    height: 1;
    dock: bottom;
}
Horizonal#footer-inner {
    width: 75%;
}
Label#table-position-count {
    width: 10%;
    text-align: right;
}
DataTable {
    width: 100%;
    height: 100%;
}